doctype html
include ./layout/head
header
  .header-hero
    .header-items-container
      .logo.big-sized.p-logo
        a(href="/inicio") 
            img(src='../img/logoBlanco2.png' alt='')
      ul
        a(href='/inicio')
          li INICIO
        a(href='')
          li NOSOTROS
        a(href='/viajes')
          li VIAJES
        a(href='/testimonios')
          li TESTIMONIOS
      .location-hero
        span Rio de Janeiro
main
  .about-us
    .about-us-items-container
      .about-us-item.section-header
        h2 Sobre nosotros
      .about-us-item
        .about-us-item-text
          span
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum sequi, officia quasi nam
            | necessitatibus ipsum pariatur beatae rem excepturi sed
            | totam nihil, dignissimos sint suscipit minus doloremque in dicta dolorum.
          span
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum sequi, officia quasi nam
            | necessitatibus ipsum pariatur beatae rem excepturi sed
            | totam nihil, dignissimos sint suscipit minus doloremque in dicta dolorum.
          span
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum sequi, officia quasi nam
            | necessitatibus ipsum pariatur beatae rem excepturi sed
            | totam nihil, dignissimos sint suscipit minus doloremque in dicta dolorum.
        .about-us-item-img
          img(src='../img/hotel.jpg' alt='')
  .viajes
    .viajes-items-container.section-header
      h2 Paquetes de viaje
    .viajes-items-container
     - var n = 0;
      while n < 3
        div(id=`${arrayViajes[n].id_viaje}` class="viajes-item" data-title=`${arrayViajes[n].titulo}`)
          .viajes-item-image
            img(src=`/img/viajes/${arrayViajes[n].id_viaje}-min.jpg`)
          .viajes-item-precio
            span=`${arrayViajes[n].precio}`
          .viajes-item-fecha
            .ida
              span.material-symbols-outlined
                | calendar_month
              span= `Ida ${arrayViajes[n].fecha_ida}`
              .vuelta
              span.material-symbols-outlined
                | calendar_month
              span= `Vuelta ${arrayViajes[n].fecha_vuelta}`
          .viajes-item-descripcion
              span= arrayViajes[n].descripcion
        - n++
  .testimoniales
    .testimoniales-items-container.section-header
      h2 Testimoniales
    #scrollx.testimoniales-items-container
      each testimonio in arrayTestimonios
            .testimoniales-item
                .testimoniales-item-quoteimg
                    img(src='../img/quoteRed.png' alt='')
                .testimoniales-item-descripcion
                    span=testimonio.descripcion
                .testimoniales-item-autor
                    span=testimonio.autor
footer.footer
script(src='/js/viajes/viajes.js' type='module')
