doctype html
include ./layout/head
include ./layout/header
main
  .viaje-especifico
    .viaje-especifico-img
      img(src=`/img/viajes/${viaje.id_viaje}-min.jpg` alt='')
    .viaje-especifico-descripcion
      .viaje-especifico-descripcion-titulo
        h1=viaje.titulo
      .viaje-especifico-descripcion-fechas
        .ida
              span.material-symbols-outlined
                | calendar_month
              span= `Ida ${viaje.fecha_ida}`
              .vuelta
              span.material-symbols-outlined
                | calendar_month
              span= `Vuelta ${viaje.fecha_vuelta}`
      .viaje-especifico-descripcion-precio-plaza
        span.precio= `$ ${viaje.precio}`
        span.plaza= `(${viaje.disponible} plazas disponibles)`
      .viaje-especifico-descripcion-info
        span= viaje.descripcion
      .viaje-especifico-botonera
        button Comprar
footer.footer
